body{
    background-color: #fffeff;
}
#login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    ul li:nth-child(1) img{
        display: block;
        width: 42.93%;
        margin: 0 auto;
    }
    ul li .inputBox{
        width: 82.67%;
        margin: 0 auto;
        margin-top: 0.8rem;
        border-radius: 4px;
        overflow: hidden;
        input{
            display: block;
            width: 85%;
            line-height: 0.8rem;
            border: 0px;
            background-color: #f8f6f9;
            font-size: 0.28rem;
            text-indent: 0.8rem;
            color: #333333;
        }
        input::-ms-input-placeholder{
            color: #bfbfbf;
            line-height: 0.8rem;
        }
        input::-webkit-input-placeholder{
            color: #bfbfbf;
            line-height: 0.8rem;
        }
        input::-moz-placeholder{
            color: #bfbfbf;
            line-height: 0.8rem;
        }
        >div:nth-child(1){
            border-bottom: 1px solid #d2d2d2;
            input{
                width: 100%;
            }
        }
        >div{
            position: relative;         
            >div{
                position: absolute;
                width: 0.78rem;
                height: 0.78rem;
                background-color: #f8f6f9;
                img{
                    height: 0.36rem;
                    margin: 0 auto;
                    margin-top: 0.22rem;
                }
            }
            >div:nth-child(2){
                right: 0;
                top: 0;
            }
        }
    }
}
